<html>

    <head>
        <title> PomoTracker </title>
    </head>
    
    <body>
        
        <h2>PomoTracker</h2>
        <a href="{% url 'home' %}">Inicio</a> 
	<a href="{% url 'task-create' %}">Cadastrar Tarefas</a> 
	<a href="{% url 'home' %}">Pomarola</a> 
       
    </body>
</html>
